* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

svg {
  width: 20rem;
  height: auto;
  display: block;
}

.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
